/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font is loaded locally. You can use these fonts in the template */
@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url("./fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
}

body {
  width: 100vw;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  margin: 0;
  background-color: lightgrey;
}

/* a header része */
.header-container {
  height: 500px;
  color: white;
  position: relative;
}

.header-content {
  width: 80%;
  position: absolute;
  left: 10%;
}

.header-image {
  height: 100%;
  width: 100vw;
  filter: brightness(50%);
  position: absolute;
  object-fit: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header > .border {
  position: absolute;
  width: 100vw;
  left: -10vw;
  bottom: 0;
  height: 1.5pt;
  background-color: rgba(255, 255, 255, 0.5);
}

.account,
.opening-hours,
time {
  padding: 1rem;
}

.toggle-label,
.menu-checkbox {
  display: none;
}

.logo-menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-search-container {
  display: flex;
  justify-content: space-between;
}

.fa-magnifying-glass {
  padding-top: 20px;
  padding-left: 5px;
}

.menu-item {
  display: inline-block;
}

.menu-item > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 10px;
}

.menu-item:hover {
  border-bottom: 2px solid transparent;
  background-color: rgba(189, 198, 233, 0.56);
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-container > button {
  background-color: rgb(76, 241, 76);
  border-radius: 999px;
  border: none;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 8px 50px;
}

/* a fő része */

main {
  text-align: center;
}

.main-content {
  display: inline-block;
  width: 65vw;
  margin: 0, auto;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.box-container > .box {
  color: green;
  padding: 2%;
  width: 200px;
  background-color: rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

h2 {
  font-size: 2rem;
}

.box > h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.4rem;
}

.welcome-text {
  display: inline-block;
  width: 80%;
  padding: 1rem;
}

.lower-banner {
  height: 30vw;
  background-image: url("img/banner_image_2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

footer {
  font-size: 1rem;
  height: 10vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* reszponzivitás */
@media (max-width: 1200px) {
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-container > .box {
    margin-bottom: 5%;
    padding: 1rem;
  }
}

@media (max-width: 750px) {
  .menu-search-container {
    position: relative;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    right: 25px;
    top: 10px;
  }

  .menu-item {
    width: 100px;
    height: 25px;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .menu-container {
    display: none;
  }

  .toggle-label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 20px;
  }

  .menu-checkbox:checked ~ .menu-container {
    display: block;
  }
}
